export LESS=eFRX
export VI_CONF=${PWD}
export VIM_LOCAL_CONF=${PWD}/myvim.rc
export GIT_HOOKS_DIR=${HOME}/root.config/git_hooks
export GIT_USER_NAME="vikramsi"
export GIT_USER_EMAIL="vikramsi@protonmail.com"
export GIT_TAG="master"

PATH_add $VI_CONF/vi.bin
PATH_add ${HOME}/root.config/git_utils

